
*{
   font-family: "Playfair Display", serif;
   box-sizing: border-box;
}

.home-container {
   background-color: rgb(253, 230, 222);
   max-width: 100%;
   display: flex;
   flex-direction: column;
}



 .main-title {
   padding: 8px;
  


 }

 
 
 .link-btn {
    background-color: transparent; 
    padding: 0 20px; 
    border-radius: 5px; 
    color: rgb(244, 174, 112); 
    font-weight: bold;
    border: none;
 }

.link-btn:hover{
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
   color:rgb(244, 174, 112);
}


