.main-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 30px;
    box-sizing: border-box;
    
  }
  
  .course-container {
    max-width: 300px;
    margin-bottom: 20px;
    background-color: transparent;
   display: flex;
   flex-direction: column;
   justify-content: center;
   
   
  }
  
  .course-img-container{
    width: 200px;
    height: 200px;
    
    
  }
  
  .course-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .course-details {
    padding: 10px;
    max-width: 200px;
    
  }
  
  .course-title {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
  }
  
  .description {
    font-size: 1rem;
    color: #555;
  }
  
  .course-btn {
    margin-top: 10px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .course-container:hover {
    transform: translateY(-5px);
  }
  
 
  