.footer-container {
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    background-color:#333333;
     padding:20px;
      color:white;
}

.logo-container {
    background-color:#333333;
     color:white;
}

.logo-caption {
    color:rgb(244, 174, 112) ;
     font-size:0.5em;
}

.logo-span {
    color:"white"
}


.resource-link {
    display: block;
    color: rgb(253, 230, 222); 
    font-size: 10px; 
    padding: 0 10px; 
}