.nav-container {
    background-color: #333333;
    margin: 0 30px;
}

.nav-links-container {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    padding: 0 20px;
    color: #333333;
}




.source-link {
    text-decoration: none;
    color: rgb(253, 230, 222);
    font-size: 12px;
    padding: 10px 15px;
    transition: color 0.3s ease, background-color 0.3s ease;
    display: block;
    border-radius: 5px;
}

.source-link:hover {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    color: rgb(244, 174, 112);
}